#RewriteEngine On
#
#RewriteCond %{HTTP_HOST} ^kuba.moscow$
#RewriteCond %{SERVER_PORT} ^80$
#RewriteRule ^(.*)$ https://kuba.moscow/$1 [R=302,L,QSA]
#
#RewriteCond %{HTTP_HOST} ^www\.kuba\.moscow [NC]
#RewriteRule ^(.*)$ https://kuba.moscow/$1 [R=302,L,QSA]
